{% extends 'todolist/base.html' %}


{% block content %}
    <a href="{% url 'todo_new' %}" class="top-menu">Add new task</a>

    {% if not title_dict %}
        <h3>No task to show. Pls add new task.</h3>
    {% else %}
        <h3>Below are the works to do.</h3>
        {% for title, detail_dict in title_dict.items %}
            <div  style="border:1px solid gray;" class="jumbotron">
                <p>{{ title }}</p>
                <a href="{% url 'edit' title.id %}" class="top-menu">Edit task</a>
                <div class="shadowbox">
                    {% for detail, completed_value in detail_dict.items %}
                        {% if completed_value %}
                            <input type="checkbox" name="completed" value={{ detail }} checked disabled> {{ detail }}<br>
                        {% else %}
                            <input type="checkbox" name="completed" value={{ detail }} disabled> {{ detail }}<br>
                        {% endif %}


                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <hr>
{% endblock %}